<div class="container" style="text-align: center">
    <div>
        <h1>Registrar Cotización</h1>
    </div>
    <div>
        <form [formGroup]="form" (ngSubmit)="insertar()">
            <mat-form-field class="full-width" *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="hcodigo" />
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Monto</mat-label>
                <input  type="number" matInput placeholder="Ingrese el precio en soles..." formControlName="hprecio">
            </mat-form-field>
            <br />
            
            <mat-form-field>
                <mat-label>Usuarios</mat-label>
                <mat-select formControlName="husuarios">
                    <mat-option *ngFor="let usuario of listaUsuarios" [value]="usuario.idUsuarios">
                        {{ usuario.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />

            <div>
                <button mat-flat-button color="primary">Registrar</button>
            </div>
        </form>
    </div>
</div>


