.chart-container {
    width: 40%; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centra el gráfico horizontalmente */
    padding: 15px; /* Espacio alrededor del gráfico */
    box-sizing: border-box;
    background-color: #8e44ad; /* Fondo morado vibrante */
    border: 3px solid #f39c12; /* Borde amarillo brillante */
    border-radius: 15px; /* Bordes redondeados */
}

@media (max-width: 768px) {
    .chart-container {
        width: 100%; /* Ajusta el ancho para pantallas más pequeñas */
        padding: 10px; /* Reduce el padding en pantallas más pequeñas */
    }
}

.title-container {
    text-align: center;
    margin-bottom: 40px; /* Aumenta el margen inferior para mover el título hacia abajo */
    margin-top: 60px; /* Agrega un margen superior para posicionarlo más abajo */
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #16a085; /* Verde azulado vibrante para el texto */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra sutil para resaltar el texto */
}
