.chart-container {
    width: 40%; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centra el gráfico horizontalmente */
    padding: 20px; /* Espacio alrededor del gráfico */
    box-sizing: border-box;
    background-color: #ffeaa7; /* Fondo amarillo suave */
    border: 3px solid #ff6b6b; /* Borde rojo vibrante */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.chart-container:hover {
    transform: scale(1.05); /* Efecto de agrandamiento */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra más profunda */
    background-color: #ff9ff3; /* Cambia el fondo a rosa vibrante al pasar el cursor */
}

@media (max-width: 768px) {
    .chart-container {
        width: 100%; /* Ajusta el ancho para pantallas más pequeñas */
        padding: 15px; /* Reduce el padding */
    }
}

.title-container {
    text-align: center;
    margin-bottom: 40px; /* Espacio inferior */
    margin-top: 60px; /* Espacio superior */
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; /* Más negrita */
    font-size: 2em; /* Tamaño del título */
    color: #00cec9; /* Azul turquesa brillante */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra sutil */
}

.title-container::after {
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: #0984e3; /* Línea azul eléctrico */
    margin: 10px auto 0;
    border-radius: 2px;
}
