<div class="header">
    <mat-icon id="back" routerLink="/">arrow_back_ios</mat-icon>
</div>
<div class="section" id="intro">
    <div class="content-right">
        <h1>EcoTrack</h1>
        <br>
        <p>
           Crea tu cuenta    
        </p>
        <br>
        <form [formGroup]="form" >
        <mat-form-field class="example-full-width">
            <mat-label>DNI</mat-label>
            <input formControlName="hdni" matInput placeholder="8 Digitos*" maxlength="8">
            <mat-error *ngIf="form.get('hdni')?.hasError('pattern')">
                El numero de DNI debe contener 8 digitos numericos.
              </mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Nombres y Apellidos</mat-label>
            <input formControlName="hnombre" matInput placeholder="">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Direccion</mat-label>
            <input formControlName="hdireccion" matInput placeholder="">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input formControlName="htelefono" matInput placeholder="">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input formControlName="husername" matInput placeholder="Ejemplo: JorgeO">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" formControlName="hpassword" />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br>
        
        <section >
            <button (click)="insertar()" id="buton-signup" mat-button >Registrarse</button>
        </section>
        <br>
        </form>
    </div>
</div>
<router-outlet></router-outlet>


