<div class="container">
  <h1>Registro de Usuarios</h1>
  <form [formGroup]="form" (submit)="insertar()">
    <mat-form-field class="full-width" *ngIf="edicion">
      <mat-label>ID</mat-label>
      <input matInput formControlName="hcodigo" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>DNI</mat-label>
      <input maxlength="8" placeholder="8 digitos..." matInput formControlName="hdni" />
      <mat-error *ngIf="form.get('hdni')?.hasError('pattern')">
        El numero de DNI debe contener 8 digitos numericos.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Nombre y Apellidos</mat-label>
      <input matInput formControlName="hnombre" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="hdireccion" />
      <mat-error *ngIf="form.get('hdireccion')?.hasError('pattern')">
        Ingrese una direccion válida...
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Teléfono</mat-label>
      <input placeholder="Celular o Fijo..." matInput formControlName="htelefono" />
      <mat-error *ngIf="form.get('htelefono')?.hasError('pattern')">
        Ingrese un numero válido...
      </mat-error>
    </mat-form-field>


    <mat-form-field class="full-width">
      <mat-label>Usuario</mat-label>
      <input placeholder="Escriba su nombre de usuario..." matInput formControlName="husername" />
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Ingresa tu contraseña</mat-label>
      <input formControlName="hpassword" matInput [type]="hide() ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>


    <div>
      <button mat-flat-button class="custom-button"   ngSkipHydration>Registrar</button>
    </div>
  </form>
</div>
