<div class="container" style="text-align: center">
    <div style="margin: 5% ;"><h1>Registro de Pagos</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="hcodigo" />
          </mat-form-field>
          <br />


          <mat-form-field class="example-full-width">
            <mat-label>Monto</mat-label>
            <input matInput formControlName="hmonto" />
          </mat-form-field>
          <br />

  
        <mat-form-field>
          <mat-label>Cotizacion</mat-label>
          <mat-select  formControlName="hcotiza">
            @for (food of listaCotizacion; track food) {
            <mat-option [value]="food.idCotizaciones">{{ food.idCotizaciones }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  

