<div class="container" style="text-align: center">
    <div style="margin: 5% ;"><h1>Registro de Rastreos</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="hcodigo" />
          </mat-form-field>
          <br />

        
        
  
        <mat-form-field>
          <mat-label>Fecha de Salida</mat-label>
          <input 
            matInput
            [matDatepicker]="pickerInicio"
            formControlName="hfechaSalida"
           />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerInicio"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio ></mat-datepicker>
          <mat-error *ngIf="form.get('hfechaSalida')?.hasError('startDateInvalid')">
            La fecha de salida no puede ser mayor que la fecha de llegada...
          </mat-error>
          
          
        </mat-form-field>
        <br>
  
        <mat-form-field>
          <mat-label>Fecha de Llegada </mat-label>
          <input 
            matInput
            [matDatepicker]="pickerFin"
            formControlName="hfechaLlegada"
           />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerFin"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerFin ></mat-datepicker>
          <mat-error *ngIf="form.get('hfechaLlegada')?.hasError('endDateInvalid')">
            La fecha de llegada no puede ser menor que la fecha de salida...
          </mat-error>
        </mat-form-field>

        <br>


        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="hestado">
              @for (food of listaEstado; track food) {
              <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <br>



          <mat-form-field class="example-full-width">
            <mat-label>Ubicacion Actual</mat-label>
            <input matInput formControlName="hubicacion" maxlength="8"/>
          </mat-form-field>
    
          <br />
  
        
  
        <mat-form-field>
          <mat-label>Vehículos</mat-label>
          <mat-select  formControlName="hvehiculo">
            @for (food of listaVehiculos; track food) {
            <mat-option [value]="food.idVehiculos">{{ food.placa }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-flat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  
