<div class="container" style="text-align: center">
    <div style="margin: 5% ;"><h1>Registro de Vehiculos</h1></div>
    <div>
      <form [formGroup]="form" (submit)="insertar()">
  
        <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>Código</mat-label>
            <input matInput formControlName="hcodigo" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Placa</mat-label>
            <input matInput placeholder="ZZZ-123" formControlName="hplaca" />
            <mat-error *ngIf="form.get('hplaca')?.hasError('pattern')">
              Ingrese una placa válida...
            </mat-error>
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>Marca</mat-label>
            <mat-select formControlName="hmarca" [(ngModel)]="marcaSeleccionada">
              
              <mat-option *ngFor="let marca of listaMarcas" [value]="marca.value">{{ marca.viewValue }}</mat-option>
              
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Modelo</mat-label>
            <mat-select formControlName="hmodelo">
              <mat-option *ngFor="let modelo of obtenerModelosPorMarca()" [value]="modelo.value">{{ modelo.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>

          

          
        <mat-form-field class="example-full-width">
          <mat-label>Capacidad de Carga</mat-label>
          <input type="number" matInput placeholder="en kg" formControlName="hcapacidad"/>
          <mat-error *ngIf="form.get('hcapacidad')?.hasError('pattern')">
            Solo se aceptan valores numericos...
          </mat-error>
        </mat-form-field>
  

        <mat-form-field>
            <mat-label>Estado</mat-label>
            <mat-select formControlName="hestado">
              @for (food of listaEstados; track food) {
              <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

   
        
  
        
        <div>
          <button mat-flat-button class="minimal-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  

