.chart-container {
    width: 40%;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: #34495e; /* Gris oscuro azulado */
    border: 3px solid #f1c40f; /* Dorado brillante */
    border-radius: 15px;
}

@media (max-width: 768px) {
    .chart-container {
        width: 100%;
        padding: 10px;
    }
}

.title-container {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 60px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #f1c40f; /* Dorado elegante */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
