<div class="container" ngSkipHydration>
    <div>
        <h1>Registrar Roles</h1>
    </div>
    <div>
        <form [formGroup]="form" (submit)="insertar()">
            <mat-form-field class="full-width" *ngIf="edicion">
                <mat-label>ID</mat-label>
                <input matInput formControlName="hcodigo" />
              </mat-form-field>
            <br>
              <mat-form-field>
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="htipo">
                  @for (food of listaTipo; track food) {
                  <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>

            <br />
            <mat-form-field>
                <mat-label>Usuario</mat-label>
                <mat-select  formControlName="husuarios">
                  @for (food of listaUsuarios; track food) {
                  <mat-option [value]="food.idUsuarios">{{ food.nombre }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            <br />

            <div>
                <button mat-flat-button color="primary">Registrar</button>
            </div>
        </form>
    </div>
</div>
