<div class="container">
  <div><h1>Registro de Cultivos</h1></div>
  <div>
    <form [formGroup]="form" (submit)="insertar()">

      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hcodigo"  />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre del cultivo" formControlName="hnombre"  required />
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="htipo">
          @for (food of listaTipos; track food) {
          <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      
      <mat-form-field>
        <mat-label>Lote</mat-label>
        <mat-select  formControlName="hlote">
          @for (food of listaL; track food) {
          <mat-option [value]="food.idLotes">{{ food.nombre }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-flat-button class="minimal-button" >Registrar</button>
      </div>
    </form>
  </div>
</div>


