<div>
    <div style="text-align: center; margin: 5%;"><h1 >Lista de Metodos de Pago</h1></div>
    <div class="container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="c1">
          <th mat-header-cell *matHeaderCellDef> Codigo </th>
          <td mat-cell *matCellDef="let element"> {{element.idMetodosPago}} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="c2">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
  
        <!-- Weight Column -->
        <ng-container matColumnDef="c3">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="c4">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
        </ng-container>
         <!-- Symbol Column -->
         <ng-container matColumnDef="c5">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario.nombre}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="c6">
            <th mat-header-cell *matHeaderCellDef> Pago </th>
            <td mat-cell *matCellDef="let element"> {{element.controles.tipo_control}}</td>
          </ng-container>
  
          <!-- Symbol Column -->
  
          <ng-container matColumnDef="accion01">
            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
            <td mat-cell *matCellDef="let element" (click)="eliminar(element.idMet)">
              <button color="primary" mat-raised-button [routerLink]="[element.idMetodosPago]">
                <mat-icon style="color:rgb(244, 74, 62)">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="accion02">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element" >
                <button   mat-raised-button [routerLink]="['ediciones',element.idMetodosPago]">
                  <mat-icon style="color:rgb(63, 81, 181),">edit</mat-icon>
                </button>
            </td>
          </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <br />
      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Select page of periodic elements" [length]="totalItems"></mat-paginator>
  
    </div>
  
  </div>
  
  
  

