
<mat-toolbar class="custom-toolbar">
  <div>
  <div>
    <img src="favicon.ico" alt=" " class="logo" />
  </div>
  <button  mat-button routerLink="/">
    EcoTrack
  </button>
  <button  mat-button [matMenuTriggerFor]="menuECOLISTAR">
    Listar
  </button>
  <button  mat-button [matMenuTriggerFor]="menuECOREGISTRAR">
    Registrar
  </button>
  <button mat-button [matMenuTriggerFor]="menuCotizaciones">
    <mat-icon>attach_money</mat-icon>Cotizaciones
  </button>
  <button mat-button [matMenuTriggerFor]="menuRoles">
    <mat-icon>assignment_ind</mat-icon>Roles
  </button>
  </div>
</mat-toolbar>

<mat-menu #menuECOLISTAR="matMenu">
  <button mat-menu-item routerLink="/usuarios" class="custom-menu-item" style="color: black;">Listar Usuarios</button>
  <button mat-menu-item routerLink="/controles" class="custom-menu-item" style="color: black;">Listar Controles</button>
</mat-menu>
<mat-menu #menuECOREGISTRAR="matMenu">
  <button mat-menu-item routerLink="/usuarios/nuevo" class="custom-menu-item" style="color: black;">Registrar Usuarios</button>
  <button mat-menu-item routerLink="/controles/nuevo" class="custom-menu-item" style="color: black;">Registrar Controles</button>
</mat-menu>
<mat-menu #menuCotizaciones="matMenu">
  <button mat-menu-item routerLink="/cotizaciones" class="custom-menu-item" style="color: black;">Listar</button>
  <button mat-menu-item routerLink="/cotizaciones/nuevo" class="custom-menu-item" style="color: black;">Registrar</button>
</mat-menu>
<mat-menu #menuRoles="matMenu">
  <button mat-menu-item routerLink="/roles" class="custom-menu-item" style="color: black;">Listar</button>
  <button mat-menu-item routerLink="/roles/nuevo" class="custom-menu-item" style="color: black;">Registrar</button>
</mat-menu>
<router-outlet></router-outlet>