
<mat-toolbar class="custom-toolbar">
  <div>
  <div>
    <img src="favicon.ico" alt=" " class="logo" />
  </div>
  <button  mat-button routerLink="/">
    EcoTrack
  </button>
  <button  mat-button [matMenuTriggerFor]="menuECOLISTAR">
    Listar
  </button>
  <button  mat-button [matMenuTriggerFor]="menuECOREGISTRAR">
    Registrar
  </button>
  </div>
</mat-toolbar>

<mat-menu #menuECOLISTAR="matMenu">
  <button mat-menu-item routerLink="/usuarios" class="custom-menu-item" style="color: black;">Listar Usuarios</button>
  <button mat-menu-item routerLink="/controles" class="custom-menu-item" style="color: black;">Listar Controles</button>
</mat-menu>
<mat-menu #menuECOREGISTRAR="matMenu">
  <button mat-menu-item routerLink="/usuarios/nuevo" class="custom-menu-item" style="color: black;">Registrar Usuarios</button>
  <button mat-menu-item routerLink="/controles/nuevo" class="custom-menu-item" style="color: black;">Registrar Controles</button>
</mat-menu>
<router-outlet></router-outlet>