<div class="container" style="text-align: center">
  <div><h1>Registro de Quejas</h1></div>
  <div>
    <form [formGroup]="form" (submit)="insertar()">

      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hcodigo"/>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Título</mat-label>
        <input matInput placeholder="Titulo de la queja" formControlName="htitulo"  required />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <textarea matInput formControlName="hdescripcion" placeholder="Descripcion..."></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="htipo">
          @for (food of listaTipos; track food) {
          <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="edicion">
        <mat-label>Respuesta</mat-label>
        <mat-select formControlName="hrespuesta">
          @for (food of listaRespuesta; track food) {
          <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      
      

      <div>
        <button mat-flat-button class="minimal-button">Registrar</button>
      </div>
    </form>
  </div>
</div>


