body {
  font-family: 'Biryani', sans-serif;
  background-image: url('./assets/Fondo2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  
}
html::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari y Opera */
}